.posts{
  &_title{
    @include title();
  }
  &_items{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-right: 25px;

  }
  &_item{
    display: flex;
    padding-bottom: 32px;

  }
  &_item-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 21px;
  }
  &_item-title{
    @include postsFirstTitile();
  }
  &_item-title2{
    @include postsSecondTitile();
  }
  p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
  }
  &_img{
    width: 100%;
    object-fit: cover;
  }
}