
.container {
    width: 1200px;
    margin: 25.5px;
    text-align: center;
}
a {
    color: red;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 18px;
    display: inline-block;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin: 25px;
}
.btn {
    color: white;
    background-color: red;
    position: center;


    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;

    border-radius: 4px;
}
h2{
    text-align: right;
    font-size: 16px;
}
