.main{
    position: absolute;
    min-width: 1900px;
    left: calc(50% - 1900px/2);
}
.header{
    background-image: url("img/headerNav/Layer 1 5.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero-navbar {
    top: 0;
    width: 100%;
    height: 120px;
    background-color: rgba(105, 104, 101, 0.5);
}
.hero-navbar-wrapper {
    width: 1110px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar-logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 26px;
}

.navbar-logo-square {
    text-align: center;
    width: 57px;
    height: 68px;
    background-color: #18CFAB;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.logo-H {
    font-weight: bold;
    color: white;
    margin-top: 13px;
    font-size: 40px;
}

.navbar-title-the {
    font-weight: lighter;
    font-size: 32px;
    line-height: 48px;
    color: white;
    margin-left: 6px;
}

.navbar-title-ham {
    line-height: 24px;
    font-weight: bold;
    color: #18CFAB;
}

/*Header Navbar-list*/
.hero-navbar-list-wrapper {
    /*width: 440px;*/
    margin-top: 43px;
}

.hero-navbar-list-items {
    display: flex;
    list-style-type: none;
}

.hero-navbar-list-item {
    margin-right: 21px;
}

.fa-search {
    color: #C0C0BF;
}

.fa-search:hover {
    color: #18B4CF;
}

.navbar-list-item-link {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #C0C0BF;
}

.navbar-list-item-link:hover {
    color: #18CFAB;
}

.hero-navbar-list-item:hover {
    padding-bottom: 53px;
}


.hero-main-content{
    text-align: center;
    padding-top: 379px;
    padding-bottom: 243px;
}
.hero-main-content{
    color: #FFFFFF;
    font-size: 35px;
}
.span{
    color: #18CFAB;
}
.hero_title{
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;

}
.hero_title2{
    font-size: 78px;
    text-transform: uppercase;
}
.hero-main-content-slogan-description{
    color: #C0C0C0;
}
.hero-main-buttons {
    margin-top: 134px;
    display: flex;
    justify-content: center;
}
.buttons{
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    outline: none;
    box-shadow: 0 -4px 0 0 #ffffff;
    cursor: pointer;
}
.btn-turqoise{
    background-color: #18cfab;
    margin-right: 26px;
}
.btn-blue{
    background-color: #00CBF6;
}

/*Options*/
.our-options{
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: 482px;
    margin-top: 0; /*8px;*/
    width:100%;
}
.our-options-icons {
    background-color: #18cfab;
}

.blue {
    background-color: #1C2A33;
}
.our-options-icons-description {
    display: flex;
    justify-content: center;
    padding-top: 62px;
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 70px;
    text-transform: uppercase;
    font-weight: bold;
}
.svg-icon-options {
    display: block;
    margin: 0 auto;
    padding-top: 100px;
}


/*Section our services*/
.our-services-title {
    margin-top: 83px;
    text-align: center;
    color: black;
    font-size: 36px;
    line-height: 40px;
    cursor: pointer;
}

.divider-turquoise {
    width: 79px;
    height: 1px;
    background-color: #18cfab;
    margin: 24px auto 0;
    box-shadow: 6px 5px 0 0 #18cfab;
}

.our-services-tabs {
    margin: 0 auto;
    margin-top: 69px;
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
    cursor: pointer;
}

.our-services-tabs-title {
    padding: 30px;
    background-color: #F8FCFE;
    border: 1px solid #F8FCFE;
    list-style-type: none;
    color: #717171;
    font-size: 18px;

}

.our-services-tabs-title:hover {
    border: 1px solid #18cfab;
}

.pseudo {
    position: relative;
    border-color: #18CFAB;
    background-color: #18CFAB;
    color: #fff;
}

.pseudo:after {
    content: "";
    display: block;
    position: absolute;
    width: 27px;
    height: 15px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background-color: #18CFAB;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
}

.our-services-tabs-content-items {
    display: none;
    margin-bottom: 91px;
}

.tabs-content-items-img {
    width: 1144px;
    display: flex;
    margin: 0 auto;
}

.tabs-content-items-text {
    margin-left: 15px;
    font-size: 13.6px;
    line-height: 24px;
    color: #777777;
}

.our-services-tabs-content-items.active {
    display: block;
}

/*Buy-Install*/
.buy-install {
    background-image: url("img/buyInstal/Layer 21 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 127px;
    text-align: center;
}
.buy-install-title{
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #18cfab;
    text-transform: uppercase;
    padding-top: 126px;
    margin-bottom: 12px;
}
.buy-install-text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #D8D8D8;
    margin-bottom: 67px;
}


/*Our amazing work*/
.our-amazing-work {
    background-color: #E9EDEF;
    padding-bottom: 91px;
    padding-top: 1px;

}

.our-amazing-work-title {
    padding-top: 95px;
    text-align: center;
    color: black;
    font-size: 36px;
    line-height: 40px;
    font-weight: normal;
    cursor: pointer;
}
.title{
    color: black;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
}

.our-amazing-work-tabs {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 83px 0 71px 0;
}

.our-amazing-work-tabs-title {
    padding: 22px;
    color: #000000;
    background-color: #F8FCFE;
    border: 1px solid #DADADA;
    list-style-type: none;
}

.our-amazing-work-tabs-title:hover {
    border: 1px solid #18cfab;
}

.our-amazing-work-tabs-title:active {
    color: #18cfab;
}

.our-amazing-work-tabs-content {
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.amazing-work-tabs-content-items {
    position: relative;
    width: 283px;
}

.hidden {
    display: none;
}

.overlay {
    border-top: 1px solid #18cfab;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #E9EDEF;;
    overflow: hidden;
    width: 100%;
    display: flex;
    height: 0;
    transition: .7s ease;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.images {
    display: block;
    height: auto;
}

.amazing-work-tabs-content-items:hover .overlay {
    height: 100%;
}
.overlay-links {
    display: flex;
    margin-bottom: 24px;
}

.our-amazing-work-button {
    font-weight: bold;
    display: block;
    margin: 0 auto;
    background: #18CFAB;
    padding: 15px 20px;
    outline: none;
    border-radius: 3px;
    border: none;
    font-size: 13px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
}

.load-more {
    margin-top: 70px;
    margin-bottom: 70px;
}
.overlay-title {
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    color: #18CFAB;
    text-transform: uppercase;
    padding: 5px 0;
}
.overlay-subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
    text-transform: capitalize;
}
.overlay-link-green {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #18CFAB;
    width: 40px;
    height: 40px;
    background-color: #18CFAB;
}
.overlay-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #18CFAB;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

/*Our amazing work*/


/*News*/
.breaking-news-wrapper {
    width: 1160px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 70px;
}
.our-amazing-work-title{
    text-align: center;
}
.breaking-news-item-date {
    width: 70px;
    height: 60px;
    background-color: #203E38;
    position: absolute;
    color: white;
    text-align: center;
    padding-top: 12px;
    font-size: 16px;
    line-height: 25px;
    right: 0;
}
.breaking-news-item-link {
    text-decoration: none;
    position: relative;
    width: 263px;
    display: block;
    margin-right: 35px;
    background-color: #F8FCFE;
    margin-bottom: 46px;
}
.breaking-news-item-link:nth-child(4) {
    margin-right: 0;
}

.breaking-news-item-link:last-child {
    margin-right: 0;
}
.breaking-news-item-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 39px;
    color: #717171;
}
.breaking-news-subtitle {
    font-size: 14px;
    font-weight: 300;
    line-height: 39px;
    color: #777777;
    text-align: center;
}
.breaking-news-subtitle:nth-child(2) {
    position: relative;
    margin-right: 30px;
}

.breaking-news-subtitle:nth-child(2)::after {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #777777;
    position: absolute;
    top: 3px;
    margin-left: 12px;
}
.title-wrapper {
    position: relative;
    left: 20px;
}
.breaking-news-item-link:hover .breaking-news-item-date {
    background-color: #18cfab;
}
.breaking-news-item-link:hover  {
    color: white;
}
.breaking-news-item-title:hover{
    color: #18CFAB;
}

/*what-people-say*/

/*.what-people-say {*/
/*    background-image: url("img/whatPeopleSay/Layer 333.png");*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    height: 900px;*/
/*    background-attachment: fixed;*/
/*}*/
/*.title-say{*/
/*    padding-top: 98px;*/
/*    color: #FFFFFF;*/
/*}*/
/*.quote{*/
/*    padding-top: 66px;*/
/*    display: block;*/
/*    margin: 0 auto;}*/

/*.slider-wrapper {*/
/*    width: 1160px;*/
/*    text-align: center;*/
/*    margin: 0 auto;*/
/*}*/

/*.slider-description {*/
/*    padding: 35px 0 35px 0;*/
/*    color: #BBBBBB;*/
/*    font-weight: 300;*/
/*    line-height: 30px;*/
/*    text-align: center;*/

/*}*/

/*.slider-user-name {*/
/*    color: #18cfab;*/
/*    padding-bottom: 5px;*/
/*}*/
/*.slider-user-name-subtitle {*/
/*    font-size: 13px;*/
/*    color: #BBBBBB;*/
/*    font-weight: 300;*/
/*    padding-bottom: 50px;*/
/*}*/
/*.slider-user-img {*/
/*    border-radius: 50%;*/
/*    box-shadow: 0 0 0 10px rgba(16, 76, 75, 0.50);*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    margin: 0 auto;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*}*/

/*.slider-nav {*/
/*    padding-top: 50px;*/
/*    margin: 0 auto;*/
/*    width: 483px;*/
/*    height: 70px;*/
/*}*/

/*.slider-nav-img {*/
/*    border-radius: 50%;*/
/*    box-shadow: 0 0 0 5px rgba(16, 76, 75, 0.50);*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    margin: 0 auto;*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    object-fit: cover;*/
/*}*/



.container {
    background-image: url("img/whatPeopleSay/Layer 333.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    background-attachment: fixed;
}

.title-say {
    color: #ffffff;
    text-align: center;
    padding-top: 98px;
}

.quote {
    display: block;
    padding-top: 77px;
    margin: 0 auto;
    text-align: center;
}

/*What people say*/
/*Slider*/
.slider-wrapper {
    width: 1160px;
    text-align: center;
    margin: 0 auto;
}

.slider-description {
    padding: 35px 0 35px 0;
    color: #BBBBBB;
    font-weight: 300;
    line-height: 30px;
    text-align: center;

}

.slider-user-name {
    color: #18cfab;
    padding-bottom: 5px;
}

.slider-user-name-subtitle {
    font-size: 13px;
    color: #BBBBBB;
    font-weight: 300;
    padding-bottom: 50px;

}

.numbertext {
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(16, 76, 75, 0.50);
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.row {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    margin: 0 auto;
    width: 483px;
    height: 70px;
}


.prev{
    padding-top: 15px;
    color: white;
    width: 35px;
    height: 35px;
    border: 1px solid #BBBBBB;
    margin-top: 10px;
}
.next{
    padding-top: 15px;
    color: white;
    width: 35px;
    height: 35px;
    border: 1px solid #BBBBBB;
    margin-top: 10px;

}
.next:hover, .prev:hover{
    background: #18B4CF;
}




.footer-wrapper {
    margin-top: 0;
    background-color: #22353F;
    display: flex;
    justify-content: center;
    height: 121px;

}

.footer-text {
    padding: 47px 0 47px 0;
    color: #AEAEAE;
}
.footer-theham{
    color: #14B9D5;
}

