ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    display: flex;
    height: 50vh;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}

.tabs-title {
    padding: 50px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}

.tabs-title.active {
    background-color: #937341;
    color: #23201D;
}
.tabs-content-items{
    display: none;
    padding-left: 500px;
    padding-right: 500px;
}
.tabs-content-items.active{
    display: block;
}