/*Header content*/
.container{
    width: 1366px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/background 1.png");
    cursor: pointer;
    margin: 0 auto;
}

.wrapper{
    max-width: 1024px;
    margin: 0 auto;
}
.hero-content{
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
}
.hero-contact{
    padding-top: 31px;

}
.hero-logo{
    position: relative;
    padding-top: 51px;
}
.hero-logo-title{
    display: inline-block;
    margin-left: 3px;
    color: #FFFFFF;
}
.logo-milan, .logo-holidays{
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}
.logo-milan{
    position: absolute;
    top: 79px;
    font-size: 29px;
    line-height: 29px;
    font-weight: bold;
}
.logo-holidays{
    font-size: 18px;
    line-height: 18px;
}

.hero-content-email, .hero-content-number{
    font-family: Roboto;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
}
.hero-content-number{
    margin-top: 19px;
    text-align: right;
}
.hero-content-number:hover, .hero-content-email:hover,
.logo-milan:hover, .logo-holidays:hover{
    color: #F26522;
}
.hero-logo:hover{
    content: url("img/header/logo2-2.png");
}


/*Main content*/

.main-wrapper{
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 26px;
}
.shopping-tours-items{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
}
.shopping-tours-items:hover .tours-view-details{
    top: 166px;
}
.tours-description{
    font-family: Roboto,sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 37px;
}
.tours-view-details{
    justify-content: space-between;
    width: 100%;
    height: 55px;
    background: #F26522;
    position: absolute;
    top: 366px;
    display:flex;
    transition: 0.8s top, 0.99s visibility;
}
.shopping-tours-items{
    text-decoration: none;
    position: relative;
    overflow: hidden;
}
.shopping-tours-items:hover .tours-description{
    color: #F26522;
}
.view-details::after{
    content: url("img/tours/Vector 1.png");
    margin-left: 16px;
    margin-right: 16px;
}
.tours-pricing{
    margin: auto 16px;
}
.view-details{
    margin-top: 31px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: white;
}
.tours-pricing{
    margin-top: 9px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: white;
}
.pricing-from{
    font-family: Roboto, sans-serif;
    font-size: 10px;
    line-height: 10px;
    color: white;
    margin-top: auto;
}
.pricing-price{
    margin-top: auto;

}
.footer-description{
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    line-height: 12px;
    color: white;
    padding-bottom: 50px;
}
